*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
     box-sizing: border-box;
}
@font-face {
    font-family: monserrat;
    src: url("Montserrat-VariableFont_wght.ttf");
}
body{
    font-family: montserrat;
    align-items: center;
    margin: 0 auto;
    background-color: #ebebeb;
}

nav{
    display: flex;
    background: #e83030;
    height:80px;
    width:100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #e88d8d;
    transition: .25s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

label.header-logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.wrapper-div{
    display: flex;
}

.id-img{
    width: 80%;
    height: 40%;
    overflow: auto;
    margin: 10%;
    border-radius: 5%;
}
.left-box {
    display: block;
    background-color: #f1f1f1;
    width: 30%;
    height: 600px;
    margin : 15px;
    border-radius: 5%;
    box-shadow: 2px 2px 20px 5px #b6b6b6;
    overflow-y: scroll;
  }

.right-box {
    display: block;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1f1f1;
    width: 70%;
    height: 600px;
    margin : 15px;
    border-radius: 5%;
    box-shadow: 2px 2px 20px 5px #b6b6b6;
    overflow-y: scroll;
  }

  @media only screen and (max-width: 800px){
    .left-box{
        display:none;
    }
    .right-box{
        width :100%;
    }
  }

  

  .text-box{
    padding: 10px;
    text-align: left;
  }

  hr{
    margin: 15px 0;
    border: 2px solid #e83030;
    border-radius: 5px;
  }

  .info-contact{
    overflow-x: scroll;
    margin: 15px 0px;
    text-align: left;
  }

.info-list li{
    margin: 5px 0px 0px 0px;
  }

  .container { 
    background-color: rgb(54, 54, 54); 
    width: 80%; 
    border-radius: 10px; 
} 

.skill { 
    background-color:#e83030; 
    color: white; 
    padding: 1%; 
    font-size: 7px; 
    text-align: right; 
    border-radius: 10px; 
    
} 

.html { 
    width: 60%; 
} 

.cpp { 
    width: 65%; 
} 
.php { 
    width: 50%; 
} 
.java{
    width: 80%;
}
.go { 
    width: 70%; 
} 

.python { 
    width: 50%; 
} 
.bar { 
    width: 50%; 
} 

.top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    align-items: center;

}

.top-text .container{
    margin-top: 40px;
    width: 150px;
    
}
.aboutme{
    height: 500px;
    overflow-y: scroll;
}

.bottom-text{
    margin-top: 20px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: top;
    overflow-y: scroll;
    font-size: 17px;

}

.portfolio .bottom-text{
    display: block;
}

.portfolio .bottom-text .t{
    margin: 0 10% 5% 10%;
    width: 80%;
    text-align: center;

}

.t {
    margin: 25px;
}

.bottom-text .t{
    width: 40%;
    text-align: center;

}

.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;

}

.proj {
    /*padding: 20px;*/
    border: 1px solid #ccc;
    margin: 20px;
    height: 100%;
    box-shadow: 1px 1px 20px -3px #cfcece;
    font-size: 12px;
    border-radius: 5%;
  }

  .proj-img-wrapper{
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 250px;
    border-radius:5%;
  }
img.proj-img{
    object-fit: contain;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .proj-desc{
    padding: 10px 0 0 10px;
    height: 150px;
    overflow-y: scroll;
    color: #404040;
    background-color: #e3e2e2;
    font-size: 15px;
  }

  .proj-desc h3{
    margin: 5px 0 5px 0;
  }


